html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  position: relative;
}

.banner {
  background-color: #2b3851;
  height: 240px;
}

.robot {
  width: 320px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  height: .5rem;
}

.robot-body {
  width: 320px;
  position: absolute;
  bottom: -240px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 60px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  top: 20px;
}
